modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_websocket:1.0.0", "javascript_sendgrid:1.0.0"]

[userenv]

[userenv.development]
SUPABASE_DATABASE_URL = "postgresql://postgres.ufrsltfszvqxausmvaac:mC8v3tdMnh*cGDR@aws-1-eu-west-1.pooler.supabase.com:6543/postgres"

[userenv.production]
SUPABASE_DATABASE_URL = "postgresql://postgres.jneasdehjlyviqrifqeq:XN2zp26-MD432WQ@aws-1-eu-west-1.pooler.supabase.com:6543/postgres"
VITE_FIREBASE_AUTH_DOMAIN = "papa-hi.com"

[userenv.shared]
